:root {
    /*COLORS*/
    /*primary*/
    --blue-desaturated: hsl(238, 22%, 44%);
    --blue-verydark: hsl(243, 87%, 12%);
    /*accents*/
    --blue-bright: hsl(224, 93%, 58%);
    --cyan-moderate: hsl(170, 45%, 43%);
    /*neutrals*/
    --gray-blueishlight: hsl(240, 75%, 98%);
    --gray-light: hsl(0, 0%, 75%);
    /*TYPOGRAPHY*/
    /*font size*/
    --fs-primary: 16px;
    /*font family*/
    --ff-primary: 'Raleway', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
    /*font weight*/
    --fw-primary: 400;
    --fw-bold: 700;

    /*BREAKPOINTS*/
    --width-mobile: 375px;
    --width-desktop: 1440px;
    /*BORDERS*/
    --border-radius-primary: 30px;
}


* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    background-color: var(--gray-blueishlight);
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    width: var(--mobile-width);
    margin-inline: auto;
    align-items: center;
}


/*PADDING*/  

nav,main,.subfooter,footer{
    padding-inline:1rem;
}

.img-section{
    margin-bottom:1rem;
}

/*TYPOGRAPHY*/
h1 {
    display: none;
}

h2{
    font-weight:var(--fw-bold);
    line-height:1.5;
    margin-bottom:1rem;
}

h2, nav, footer, .text-small {
    font-family: var(--ff-primary);
}

p, input, a, .testimonials {
    font-family: var(--ff-secondary);
}

p {
    line-height: 1.2;
    margin-block: 1rem;
}

a {
    color: var(--cyan-moderate);
    
}

.text-small{
    font-size:12px;
    line-height:1.2;
}


/*HIDES the label but keeps the website accessible*/
.screenReaderOnly {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*NAV*/
nav {
    display: grid;
    grid-template-columns: repeat(3,auto);
    padding-top:1rem;
    width: 100%;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
}


.logo {
    height: 50%;
    grid-column: 1 / span 1;
    cursor: pointer;
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap:1rem;
    list-style: none;
    justify-content:end;
    grid-column: 2 / span 2;
}

.nav-list li{
    display:inline-block;
    margin:0;
    padding:0;
    cursor:pointer;
}

/*SECTIONS*/

main {
    text-align: center;
}

section:not(:last-of-type){
    padding-block:1rem;
    margin-block:2rem;
}

.img-section {
    width: 100%;
}


/*FORMS*/

input, button{
    border-radius:2px;
}

input {
    width: 100%;
    height: 40px;
    margin-block: 10px;
    padding: 1rem;
    border:solid 1px var(--gray-light);
}

    input:focus, input:focus-visible {
        border: solid 1px var(--blue-verydark);
        outline: none;
    }

button {
    width: 100%;
    height: 40px;
    margin-block: 10px;
    color:white;
    background:var(--blue-bright);
    border:none;
    cursor:pointer;
}

    button:hover {
        background: var(--blue-desaturated);
        font-weight:var(--fw-bold);
    }

  

    .cta-link {
        padding-block: 0.2rem;
        border-bottom: 1px solid var(--cyan-moderate);
        margin-block: 1rem;
        cursor:pointer;
    }

        .cta-link:hover *{
            color:var(--blue-bright);
        }

.fa-arrow-circle-right {
    color: var(--cyan-moderate);
    padding-left:0.5rem;
}


/*TESTIMONIAL*/

.testimonials {
    background: white;
    width: 85%;
    margin: 1rem auto;
    -webkit-box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.1);
    box-shadow: 3px 3px 22px 0px rgba(0,0,0,0.1);
    padding: 1.5rem;
    display: grid;
    gap:10px;
    text-align: start;
    font-size:11px;
    line-height:1.5;
}

    .testimonials h2 {
        line-height: 0;
        padding: 0;
        margin-block: 0;
    }



.test-author {
    font-weight: var(--fw-bold);
    display: grid;
    gap:0 10px;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: start;
}

.avatar {
    grid-row:1/3;
    height: 30px;
    border-radius: 20px;
}

/*CTA*/

.subfooter {
    margin-top:3rem;
    background: var(--blue-desaturated);
    padding: 2rem;
    color:white;
    text-align:center;
}

/*FOOTER*/

footer {
    padding: 2rem;
    display: grid;
    gap: 2rem;
    width: 100%;
    background: var(--blue-verydark);
    color: white;
    justify-items: start;
}

.footer-block{
    display:grid;
    gap:0.8rem;
}

    footer img {
        height:40px;
        filter:invert(100%) grayscale(100%) brightness(400%);
        }

footer i{
     padding-right:1rem;
 }

